%h1 
  .container About Me

#body.container
  #about-me
    .row
      .span4.offset4
        .copy.box
          %p Robert Pitts, Bit Baron
    .row
      .span4.offset4
        .portrait.box
          %img{ src: "/assets/sweatypitts.jpg" }
    .row
      .span4.offset4
        .copy.box
          %p Experienced, not academic. A shareholder, not just a stakeholder. I’ve learned everything I know from experience, guidance from those more knowledgable than I, and self-directed research.
          %p Don’t think outside the box, make the box. Constraints are necessary for solving problems properly; they also make it a whole lot easier. Clearly define constraints before even looking for a solution. 
          %p Details are a big deal. They’re what make a difference between you and me, awesome food and mediocre food, and good design and bad design. Just because you can’t put your finger on it doesn’t mean it’s not there.
