$gray: #f2f2f2
$dark-gray: #d9d9d9
$light-green: #cfda2b
$dark-green: #75813a
$blue: #526f93

body
  background: $gray
  padding-top: 220px
  
p,
h1,
h2,
h3,
h4,
h5
  color: $blue
  
h1
  background: white
  font-size: 20px
  line-height: 50px
  margin: 0px
  font-weight: normal
  text-align: center
  position: fixed
  top: 120px
  width: 100%
  
.center
  text-align: center
  
.navbar
  background: $gray
  a.brand
    width: 92px
    line-height: 50px
    text-indent: -10000px
    background: url(/assets/logo.png)
    margin-left: 0px
  ul.nav
    li
      line-height: 50px
      a
        color: $dark-green
        text-shadow: none
      a:hover
        color: $dark-green
        text-decoration: underline
      a.selected
        background: url(/assets/menu-marker.png) bottom center no-repeat
    li:last-of-type
      a
        margin-right: -15px
.subnavbar
  top: 70px
  background: $light-green
  ul.nav
    li
      line-height: 30px
      a.selected
        background: url(/assets/submenu-marker.png) bottom center no-repeat

#body
  a
    color: $dark-green
  
  
  /* About Me */
  
  #about-me
    > div
      width: 428px
      padding: 15px
      border: 1px solid $dark-gray
      background: white
    .copy
      font-size: 16px
      line-height: 28px
