$gray: #f2f2f2
$dark-gray: darken($gray, 3%)
$light-green: #cfda2b
$dark-green: #75813a
$blue: #526f93
$radius: 2px

body
  background: $gray
  padding-top: 170px
  padding-bottom: 0px
  font-family: 'Source Sans Pro', sans-serif
  
p,
dl,
ul,
h2,
h3,
h4,
h5
  color: $blue
h1
  font-size: 20px
  line-height: 50px
  margin: 0px
  font-weight: normal
  text-align: center
  top: 70px
  width: 100%
  color: $dark-green
  background: $light-green
  @media (min-width: 979px)
    position: fixed
    z-index: 1
  @media (max-width: 979px)
    font-size: 24px
    margin-bottom: 25px
    border-radius: $radius
  @media (min-width: 768px) and (max-width: 979px)
    width: 724px
    margin-left: auto
    margin-right: auto

footer
  width: 100%
  margin-top: 30px
  border-top: 1px solid $dark-gray
  font-size: 12px
  line-height: 30px
  text-align: center
  p
    margin: 0px
    padding: 0px
  
.center
  text-align: center
.box
  position: relative
  padding: 15px
  border: 1px solid $dark-gray
  background: white
  ul
    margin: 0px
    padding: 0px
    list-style: square
    list-style-position: inside
  p.blog-date
    position: absolute
    bottom: 5px
    right: 5px
    margin: 0
    align: right
    font-size: 10px
    line-height: 10px
    color: darken($dark-gray, 20%)
  
.navbar
  z-index: 2
  background: $gray
  @media (max-width: 979px)
    border-bottom: 5px solid $dark-gray
  a.brand
    width: 92px
    line-height: 50px
    text-indent: -10000px
    background: url(/assets/logo.png) top left no-repeat
    @media (min-width: 979px)
      margin-left: 0px
    @media (max-width: 979px)
      width: 137px
      background-position: 25px 0px
  a.btn-navbar, a.btn-navbar:hover
    margin-right: 20px
    color: $dark-green
    background: $light-green
    border: none
    line-height: 43px
    text-shadow: none
    font-weight: bold
  .nav-collapse
    margin: 0px 20px
  ul.nav
    li
      a
        color: $dark-green
        text-shadow: none
        @media (max-width: 979px)
          background: $dark-gray
      a:hover
        color: $dark-green
    li:last-of-type
      a
        padding-right: 0px
    @media (min-width: 979px)
      li
        line-height: 50px
        a:hover
          text-decoration: underline
        a.selected
          background: url(/assets/menu-marker.png) bottom center no-repeat
      li:last-of-type
        a
          margin-right: -15px

#body
  a
    color: $dark-green
  
  
  /* About */

  #about
    h2
      @media (min-width: 979px)
        margin: 0px 0px 30px 0px
      line-height: 1em
      font-size: 16px
      text-align: center
    h3
      margin: 0px 0px 15px 0px
      line-height: 1em
      font-size: 14px
    .box
      margin-bottom: 30px
      @media (max-width: 979px)
        margin-bottom: 15px
    #github
      dl
        margin: 0px
        dt
          color: $dark-green
          margin: 0px 0px 5px 0px
          font-weight: normal
          a
            font-weight: bold
        dd
          border-bottom: 1px solid $dark-gray
          padding: 0px 15px 15px 15px
          margin: 0px -15px 15px -15px
      p
        margin-bottom: 0px
  
    #about-me
      .copy
        font-size: 16px
        line-height: 28px
        p:first-of-type
          margin-top: 0px
          padding-top: 0px
        p:last-of-type
          margin-bottom: 0px
          padding-bottom: 0px
      img
        width: 100%
        object-fit: contain
        border-radius: $radius
      
  /* Skills */
  
  .skill-search
    margin-bottom: 30px
    @media (max-width: 767px)
      display: none
    input
      $side-padding: 12px
      $width-offset: $side-padding * 2 + 2
      width: 940px - $width-offset
      padding: 8px $side-padding
      border: 1px solid $dark-gray
      border-radius: $radius
      font-size: 18px
      line-height: 27px
      color: $dark-green
      @media (min-width: 1200px)
        width: 1170px - $width-offset
      @media (min-width: 768px) and (max-width: 979px)
        width: 724px - $width-offset
  .skill
    position: relative
    @media (min-width: 1200px)
      height: 160px
    @media (min-width: 980px) and (max-width: 1199px)
      height: 180px
    @media (max-width: 979px)
      height: 240px
    margin-bottom: 30px
    h2
      font-size: 22px
      line-height: 22px
      margin: 0px 0px 14px 0px
    a
      display: block
      position: absolute
      width: 100%
      bottom: 0px
      margin-left: -15px
      border-top: 1px solid $dark-gray
      line-height: 30px
      text-align: center
    a:hover
      background: $gray
  
  /* CV */
  
  .curriculum
    height: 108px
    margin-bottom: 30px
    @media (min-width: 980px) and (max-width: 1199px)
      height: 128px
    @media (min-width: 768px) and (max-width: 979px)
      height: 148px
    @media (max-width: 767px)
      height: 188px
      margin-bottom: 5px
    @media (max-width: 480px)
      height: 288px
    h2
      font-size: 18px
      line-height: 18px
      margin: 0px 0px 9px 0px
      @media (max-width: 767px)
        font-size: 16px
      small
        font-size: 18px
        @media (max-width: 767px)
          font-size: 14px
        font-weight: normal
        color: inherit
    p
      @media (max-width: 767px)
        font-size: 12px
  .vitae
    height: 108px
    margin-bottom: 30px
    @media (max-width: 979px)
      height: 148px
    .to
      margin-bottom: 20px
      @media (max-width: 767px)
        margin-bottom: 5px
    h3
      background: $dark-green
      color: white
      margin: 0px 0px 5px 0px
      font-size: 12px
      line-height: 20px
      text-align: center
      font-weight: normal
      border-radius: $radius
      @media (max-width: 767px)
        line-height: 30px
    p
      background: $light-green
      color: $dark-green
      margin: 0px
      font-size: 14px
      @media (min-width: 768px) and (max-width: 979px)
        font-size: 12px
      line-height: 35px
      text-align: center
      border-radius: $radius
